<!-- Footer -->
<footer class="sticky-footer bg-white ">
    <div class="container my-auto">
        <p align="center">
        <a href="aboutWebsite.html"> About Website</a>
        <span>|</span>
        <a href="gettingStartedHelp.html"> Getting Started Help</a>
        <span>|</span>
        <a href="ContactUs.html"> Contact Us</a>
        <span>|</span>
        <a href="TermOfUse.html"> Terms of Use</a>
        
        
        </p>
            <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Comp5703</span>
          </div>
        </div>
    </div>
<!-- /.container -->
</footer>
