<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>TermsOfUse</title>


  <style type="text/css">
  	h3{
  		color: #4e73df !important;
  		margin-left: 100px;

  	}
  	p{
  		margin-left: 120px;
      margin-right: 120px;
      color: #5a5c69 !important;
  	}
    body{
          font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    h1{
          color: white;
          position: center;
          margin-left: 100px;

    }
    .title-banner {
    transition: background-image .5s ease, background-color .5s ease;
    margin-bottom: 40px;
    background-color: #4e73df;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    width: 100%;
    }
  </style>
    
	  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  <link href="../css/heroic-features.css" rel="stylesheet">
</head>
<body>
<div ng-app="myApp" >
    <div class="container">

    <!-- Navigation -->
    <div id="nav-placeholder">
        <div ng-include="'nav.html'"></div>
    </div> 
    <div class="title-banner">
      <div class="inner">
        <h1 class="title-banner-h1">Terms of Use</h1>
      </div>
    </div>

	<div id="TermsOfUse">
		<!-- <h2 style="padding-top: 100px; color: #5a5c69 !important; margin-left: 100px;">Terms Of Use</h2> -->
		<p>
			"If you have any comments or questions regarding our website, please use one of the following methods."
		</p>

		<h3>1.Account Creation and Maintenance</h3>
		<p>
			1.1 In order to use some features of the Services, you will need to register and create an account. Creating an account is optional, but without an account you will not be able to save or publish projects or comments. When registering for a personal account, you will be asked to provide certain personal information, such as your email address, gender,and birth month and year. Please see Privacy Policy for data retention and usage policies
		</p>
		<p>
			1.2 You are responsible for keeping your password secret and your account secure. You are solely responsible for any use of your account, even if your account is used by another person. If any use of your account violates the Terms of Service, your account may be suspended or deleted.
		</p>
		<p>
      1.3 You may not use another person's account without permission</p>
		<br>
		<h3>2.Rules of Usage</h3>
    <p>
      We supports freedom of expression. However, some content is inappropriate for the our community. You may not use the service in any way, that:</p>
      <p>
        1. Promotes bigotry, discrimination, hatred, or violence against any individual or group;<br>
        2. Threatens, harasses, or intimidates any other person, whether that person is a Scratch user or not;<br>
        3. Contains foul language or personal attacks;<br>
        4. Contains sexually explicit or graphically violent material;<br>
        5. Provides instructions on how to commit illegal activities or obtain illegal products;<br>
        6. Exposes any others person's personally identifying information, contact information, or passwords without that person's permission.
      </p>
		<br>
    <h3>3. User-Generated Content and Licensing</h3>
    <p>3.1 For the purposes of the Terms of Use, "user-generated content" includes any projects, comments, or links to third party websites that a user submits to our website.</p>
    <p>3.2 In addition to reviewing reported user-generated content, Our team reserves the right, but is not obligated, to monitor all uses of the service. Our team may edit, move, or delete any content that violates the Terms of Use or Community Guidelines, without notice.</p>
    <p>3.3 Our team encourages everyone to foster creativity by freely sharing code. However, we also understand the need for individuals and companies to protect their intellectual property rights. You are responsible for making sure you have the necessary rights, licenses, or permission for any user-generated content you submit to the website.</p>
		<br>
    <h3>4. Suspension and Termination of Accounts</h3>
    <p>4.1 We has the right to suspend your account for violations of the Terms of Use or Community Guidelines. Repeat violators may have their account deleted.</p>
    <p>4.2 If you want to delete or temporarily disable your account, please email Comp5703_cp26_help@gmail.com</p>
    <br>
    <h3>5. Third Party Websites</h3>
    <p>5.1 Content on website, including user-generated content, may include links to third party websites. Our team is not capable of reviewing or managing third party websites, and assumes no responsibility for the privacy practices, content, or functionality of third party websites. You agree to relieve our team of any and all liability arising from third party websites.</p>
    <br>
    <h3>6. Choice of Language</h3>
    <p>If our team provides you with a translation of the English language version of these Terms of Use, the Privacy Policy, or any other policy, then you agree that the translation is provided for informational purposes only and does not modify the English language version. In the event of a conflict between a translation and the English version, the English version will govern.</p>
    <br>
	</div>

   

    
        <!-- Footer -->
    <div id="nav-placeholder">
        <div ng-include="'footer.html'"></div>
    </div> 
    </div>
	</div>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="../assets/ng-tags-input.min.js"></script>
  <script src="../app.js"></script>>
  <script src="../controllers/nav.js"></script>
</body>
</html>